<div class="container">
  <div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Вакансия</th>
                <th>Отклик</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Повар</td>
                <td><a [routerLink]="['/human',1]">Иванов Иван Иванович</a></td>
              
              </tr>
              <tr>
                <td>Охранник</td>
                <td><a [routerLink]="['/human',1]">Иванов Иван Иванович</a></td>
              
              </tr>
              <tr>
                <td>Повар</td>
                <td><a [routerLink]="['/human',1]">Иванов Иван Иванович</a></td>
              
              </tr>
            </tbody>
          </table>

    </div>

  </div>

</div>