<div class="container">

    <div class="form-group">
            <div class="col-md-6">
                <label style="text-align: right; padding-top: 5px;" for="inputEmail3" class="control-label">поиск по имени и фамилии</label>

                <input type="text" (input)="search($event.target.value)" class="form-control" id="inputEmail3" placeholder="Фамилия Имя">
            </div>

            <div class="col-md-6">
                    <label style="text-align: right; padding-top: 5px;" for="inputEmail4" class="control-label">поиск по должности</label>

                    <input type="text" (input)="search($event.target.value)" class="form-control" id="inputEmail4" placeholder="Должность">
                </div>

            </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="flex-left">
            <a routerLink="/create-list-item" class="add btn btn-block btn-primary btn-lg">Добавить +</a>
        </div>
        </div>
    </div>
   <br><br><br>
      <div class="row">

          <div *ngFor="let item of BlackList; let i = index" class="col-md-3">
              <br>
              <div class="followed-user-entry">
                  <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="../../../assets/good.jpg" />
                      <a [routerLink]="['/black-list',item.id]"  class="followed-user-name">{{item.name}}</a>
                      <p class="followed-user-screenname">
                          Сотрудник/Компания
                      </p>

                  </div>
              </div>
              <br>
          </div>
      </div>
      <br>
      <app-pagination></app-pagination>
  </div>
