<div class="container">
    <div class="row">
        <div class="col-md-12">


              <div class="row">
                  <h1>Создание</h1>
              </div>

              <div class="toggle">
                  <div class="radio-group">
                      <input type="radio" checked id="option-one" name="selector">
                      <label class="none-margin" for="option-one">Сотрудника</label>
                      <input type="radio" id="option-two" name="selector">
                      <label class="none-margin" for="option-two">Компанию</label>
                    </div>
              </div>
              <!--форма для сотрудника-->
            <form>
              <div class="form-group">
                <label for="f1">Фамилия:</label>
                <input type="text" class="form-control" id="f1">
              </div>
              <div class="form-group">
                <label for="fn1">Имя:</label>
                <input type="text" class="form-control" id="fn1">
              </div>
              <div class="form-group">
                <label for="fn2">Отчество:</label>
                <input type="text" class="form-control" id="fn2">
              </div>
              <div class="form-group">
                <label for="fn3">Должность:</label>
                <input type="text" class="form-control" id="fn3">
              </div>
              <label>Cписок прошлых мест работы:</label>
              <hr>
          <!-- это итерируем -->
          <div *ngFor="let item of Jobs; let i = index" class="one-place">
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                    <label for="f10">Название:</label>
                </div>
                <div class="col-md-5">
                    <input [(ngModel)]="item.name" name="name-job-{{i}}" type="text" class="form-control" id="f10">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                    <label for="f11">Год начала работы и окончания:</label>
                </div>
                <div class="col-md-5">
                    <input [(ngModel)]="item.period" name="period-job-{{i}}" type="text" class="form-control" id="f11">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                    <label for="f12">Должность:</label>
                </div>
                <div class="col-md-5">
                    <input [(ngModel)]="item.position" name="position-job-{{i}}" type="text" class="form-control" id="f12">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-2">
                    <label for="f13">Описание заведения:</label>
                </div>
                <div class="col-md-5">
                    <textarea [(ngModel)]="item.description" name="description-job-{{i}}" class="form-control" rows="3" id="f13"></textarea>
                </div>
              </div>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
                <button (click)="AddJob()" type="button" style="margin: 0 auto 30px auto; max-width: 120px;" class="btn btn-block btn-primary btn-lg">Добавить</button>
            </div>

          </div>




              <div class="form-group">
                <label for="f4">Комментарий:</label>
                <textarea  class="form-control" rows="10" id="f4"></textarea>

              </div>
              <button (click)="Save()" type="submit" style="margin: 0 auto 30px auto; max-width: 150px;" class="btn btn-success btn-lg btn-block">Отправить</button>
            </form>



             <!--форма для компании-->
             <form>
                <div class="form-group">
                  <label for="f1">Название:</label>
                  <input type="text" class="form-control" id="f1">
                </div>
                <div class="form-group">
                  <label for="f2">Адрес:</label>
                  <input type="text" class="form-control" id="f2">
                </div>
                <div class="form-group">
                  <label for="f3">Описание:</label>
                  <textarea  class="form-control" rows="5" id="f3"></textarea>
                </div>
                <div class="form-group">
                  <label for="f4">Комментарий:</label>
                  <textarea  class="form-control" rows="10" id="f4"></textarea>

                </div>
                <button (click)="Save()" type="submit" style="margin: 0 auto 30px auto; max-width: 150px;" class="btn btn-success btn-lg btn-block">Отправить</button>
              </form>





        </div>
    </div>
</div>
