<div *ngIf="Page===Pages.pay" class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="row">
            <h1 (click)="pay()">ОПЛАТИТЬ</h1>
            <p>Для открытия полного функционала требуется оплатить!</p>
            <br>

            <div *ngIf="ReadyToPay">

              <select class="form-control" [(ngModel)]="SelectedItem">
                <option [ngValue]="{ payment_type: 'employee_list_week', price: 1000 }">Доступ к базе резюме на 1 неделю - 1000р</option>
                <option [ngValue]="{ payment_type: 'employee_list_month', price: 3000 }">Доступ к базе резюме на 1 месяц - 3000р</option>
                <option [ngValue]="{ payment_type: 'vacancies_4', price: 300 }">Публикация вакансий от 1 - 300р</option>
                <option [ngValue]="{ payment_type: 'vacancies_5', price: 250 }">Публикация вакансий от 5 - 250р</option>
                <option [ngValue]="{ payment_type: 'employee_search', price: 500 }">Выборка резюме на 1 день (при покупке от 1 вакансии) - 500р</option>
                <option [ngValue]="{ payment_type: 'standard', price: 4500 }">Пакет "Стандартный" на 30 дней - 4500р</option>
                <option [ngValue]="{ payment_type: 'economy', price: 1000 }">Пакет "Эконом" на 10 дней - 1000р</option>
                <option [ngValue]="{ payment_type: 'banner', price: 2500 }">Баннер - 2500р</option>
                <option [ngValue]="{ payment_type: 'security_file', price: 500 }">Загрузка файла в СБ - 500р</option>
              </select>
              <br>
              <input *ngIf="SelectedItem.price" type="button" (click)="getPayment()" class="btn btn-primary" value="Получить данные оплаты">

            </div>

             <!-- <iframe *ngIf="Pay&&Pay['mrh_url']" width="168" height="80" style="border:0;width:168px;height:80px;overflow:hidden;background-color:transparent;" allowTransparency="true" [src]="photoURL('https://auth.robokassa.ru/Merchant/PaymentForm/FormV.if?MerchantLogin='+Pay['mrh_login']+'&OutSum='+Pay['out_summ']+'&InvoiceID='+Pay['inv_id']+'&SignatureValue='+Pay['crc']+'&IsTest=1')"></iframe> -->

             <iframe *ngIf="Pay&&Pay['mrh_url']" width="168" height="80" style="border:0;width:168px;height:80px;overflow:hidden;background-color:transparent;" allowTransparency="true" [src]="photoURL('https://auth.robokassa.ru/Merchant/PaymentForm/FormV.if?MerchantLogin=black_list&InvoiceID=0&IsTest=1&Culture=ru&Encoding=utf-8&OutSum=10&SignatureValue=b8aedf7be83cebea521adbda47800216b06208dd9e40deeeec6ddb23324d9895')"></iframe>


            <!-- <form *ngIf="Pay&&Pay['mrh_url']" #f="ngForm" [action]="Pay['mrh_url']" method="post">
              <input type=hidden name=MrchLogin [value]="Pay['mrh_login']">
              <input type=hidden name=OutSum [value]="Pay['out_summ']">
              <input type=hidden name=InvId [value]="Pay['inv_id']">
              <input type=hidden name=Desc [value]="Pay['inv_desc']">
              <input type=hidden name=SignatureValue [value]="Pay['crc']">
              <input type=hidden name=Shp_item [value]="Pay['shp_item']">
              <input type=hidden name=IncCurrLabel [value]="Pay['in_curr']">
              <input type=hidden name=Culture [value]="Pay['culture']">
              <input type=submit (click)="onSubmit(f)" value='Оплатить'>
            </form> -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="Page===Pages.success" class="container">
      <div class="row">
    <div class="col-md-12">
        <div class="row">
    <p>Успешная оплата!</p>
    </div></div></div>
  </div>

  <div *ngIf="Page===Pages.error" class="container">
          <div class="row">
    <div class="col-md-12">
        <div class="row">
    <p>Ошибка оплаты!</p>
    </div></div></div>
  </div>
