<div *ngIf="Page===Pages.pay" class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="row">
            <h1 (click)="pay()">ОПЛАТИТЬ</h1>
            <p>Для открытия полного функционала требуется оплатить!</p>
            <br>
            <!-- <script type="text/javascript" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormV.js?MerchantLogin=black_list&InvoiceID=0&Culture=ru&Encoding=utf-8&OutSum=100&SignatureValue=26c8359221244aa536a4741029c577bb"></script> -->
            <iframe width="168" height="80" style="border:0;width:168px;height:80px;overflow:hidden;background-color:transparent;" allowTransparency="true" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormV.if?MerchantLogin=black_list&InvoiceID=0&Culture=ru&Encoding=utf-8&OutSum=0&SignatureValue=26c8359221244aa536a4741029c577bb"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="Page===Pages.success" class="container">
    <p>Успешная оплата!</p>
  </div>

  <div *ngIf="Page===Pages.error" class="container">
    <p>Ошибка оплаты!</p>
  </div>
