<div *ngIf="Page===Pages.pay" class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="row">
            <h1 (click)="pay()">ОПЛАТИТЬ</h1>
            <p>Для открытия полного функционала требуется оплатить!</p>
            <br>

             <!-- <iframe *ngIf="Pay&&Pay['mrh_url']" width="168" height="80" style="border:0;width:168px;height:80px;overflow:hidden;background-color:transparent;" allowTransparency="true" [src]="photoURL('https://auth.robokassa.ru/Merchant/PaymentForm/FormV.if?MerchantLogin='+Pay['mrh_login']+'&OutSum='+Pay['out_summ']+'&InvoiceID='+Pay['inv_id']+'&SignatureValue='+Pay['crc']+'&IsTest=1')"></iframe> -->

             <iframe *ngIf="Pay&&Pay['mrh_url']" width="168" height="80" style="border:0;width:168px;height:80px;overflow:hidden;background-color:transparent;" allowTransparency="true" [src]="photoURL('https://auth.robokassa.ru/Merchant/PaymentForm/FormV.if?MerchantLogin=black_list&InvoiceID=0&IsTest=1&Culture=ru&Encoding=utf-8&OutSum=10&SignatureValue=b8aedf7be83cebea521adbda47800216b06208dd9e40deeeec6ddb23324d9895')"></iframe>


            <!-- <form *ngIf="Pay&&Pay['mrh_url']" #f="ngForm" [action]="Pay['mrh_url']" method="post">
              <input type=hidden name=MrchLogin [value]="Pay['mrh_login']">
              <input type=hidden name=OutSum [value]="Pay['out_summ']">
              <input type=hidden name=InvId [value]="Pay['inv_id']">
              <input type=hidden name=Desc [value]="Pay['inv_desc']">
              <input type=hidden name=SignatureValue [value]="Pay['crc']">
              <input type=hidden name=Shp_item [value]="Pay['shp_item']">
              <input type=hidden name=IncCurrLabel [value]="Pay['in_curr']">
              <input type=hidden name=Culture [value]="Pay['culture']">
              <input type=submit (click)="onSubmit(f)" value='Оплатить'>
            </form> -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="Page===Pages.success" class="container">
      <div class="row">
    <div class="col-md-12">
        <div class="row">
    <p>Успешная оплата!</p>
    </div></div></div>
  </div>

  <div *ngIf="Page===Pages.error" class="container">
          <div class="row">
    <div class="col-md-12">
        <div class="row">
    <p>Ошибка оплаты!</p>
    </div></div></div>
  </div>
