<div class="container">
    <div class="row">
      <div class="col-md-12">
          <h1>Мои Вакансии</h1>
          <div class="list-group">
              <a [routerLink]="['/my-vacances',1]" class="list-group-item list-group-item-action">
                <div class="left-side">
                  <span class="name">Повар</span>
                  <span class="company">ООО "Ласточка"</span>
                </div>
                <span class="price">150 000 р.</span>
              </a>
              <a [routerLink]="['/my-vacances',1]" class="list-group-item list-group-item-action">
                <div class="left-side">
                  <span class="name">Охранник</span>
                  <span class="company">ООО "Ласточка"</span>
                </div>
                <span class="price">120 000 р.</span>
              </a>
              <a [routerLink]="['/my-vacances',1]" class="list-group-item list-group-item-action">
                <div class="left-side">
                  <span class="name">Повар</span>
                  <span class="company">ООО "Ласточка"</span>
                </div>
                <span class="price">150 000 р.</span>
              </a>

          </div>
          <button class="btn btn-success btn-lg btn-block" style="margin: 30px auto; max-width: 100px;">Add</button>
      </div>
  
    </div>
  
  </div>
  
  
  