<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="/action_page.php">
              <div class="row">
                  <h1>{{isNew?'Создание':'Редактирование'}} вакансии
                  </h1>
              </div>
              <div class="form-group">
                <label for="f1">*Должность:</label>
                <input [(ngModel)]="Vacancie.position" name="position" type="text" class="form-control" id="f1">
              </div>
              <div class="form-group">
                <label for="f2">Минимальный стаж работы:</label>
                <input [(ngModel)]="Vacancie.min_experience" name="min_experience" type="text" class="form-control" id="f2">
              </div>
              <div class="form-group">
                <label for="f3">З/п:</label>
                <input [(ngModel)]="Vacancie.salary" name="salary" type="text" class="form-control" id="f3">

              </div>
              <div class="form-group">
                <label for="f4">*Описание:</label>
                <textarea [(ngModel)]="Vacancie.description" name="description" class="form-control" rows="10" id="f4"></textarea>

              </div>
              <p style="margin-bottom: 20px;">{{errorText}}</p>
              <button [disabled]="!service.authService.me.is_payed_everything&&!service.authService.me.is_payed_vacancies" (click)="Save()" type="submit" style="margin: 0 auto 30px auto; max-width: 150px;" class="btn btn-success btn-lg btn-block">Сохранить</button>
              <button [disabled]="!service.authService.me.is_payed_everything&&!service.authService.me.is_payed_vacancies" style="margin: 0 auto 30px auto; max-width: 150px;" class="btn btn-danger btn-lg btn-block">Удалить</button>
            </form>
        </div>
    </div>
</div>
