<div class="container">

    <div class="row">
      

        <div class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="http://placekitten.com/g/300/300" />
                    <a href="#"  class="followed-user-name">Иванов Иван Иванович</a>
                    <p class="followed-user-screenname">
                        Супер программист
                    </p>
                    <p class="followed-user-description">Стаж: <strong>18лет.</strong></p>
                    
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="http://placekitten.com/g/300/300" />
                    <a href="#"  class="followed-user-name">Иванов Иван Иванович</a>
                    <p class="followed-user-screenname">
                        Супер программист
                    </p>
                    <p class="followed-user-description">Стаж: <strong>18лет.</strong></p>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="http://placekitten.com/g/300/300" />
                    <a href="#"  class="followed-user-name">Иванов Иван Иванович</a>
                    <p class="followed-user-screenname">
                        Супер программист
                    </p>
                    <p class="followed-user-description">Стаж: <strong>18лет.</strong></p>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="http://placekitten.com/g/300/300" />
                    <a href="#"  class="followed-user-name">Иванов Иван Иванович</a>
                    <p class="followed-user-screenname">
                        Супер программист
                    </p>
                    <p class="followed-user-description">Стаж: <strong>18лет.</strong></p>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="http://placekitten.com/g/300/300" />
                    <a href="#"  class="followed-user-name">Иванов Иван Иванович</a>
                    <p class="followed-user-screenname">
                        Супер программист
                    </p>
                    <p class="followed-user-description">Стаж: <strong>18лет.</strong></p>
                </div>
            </div>
            <br>
        </div>
    </div>


    <br>
</div>