<div class="container">

  <div class="form-group">
    <div class="col-md-4">
        <label style="text-align: right; padding-top: 5px;" for="inputEmail3" class="control-label">поиск по имени и фамилии</label>

        <input type="text" (input)="TextSearch=$event.target.value; Page = 1; search()" class="form-control" id="inputEmail3" placeholder="Фамилия Имя">
    </div>

    <div class="col-md-4">
            <label style="text-align: right; padding-top: 5px;" for="inputEmail4" class="control-label">поиск по должности</label>

            <input type="text" (input)="TextSearch=$event.target.value; Page = 1; search()" class="form-control" id="inputEmail4" placeholder="Должность">
        </div>
    <div class="col-md-4">
        <label style="text-align: right; padding-top: 5px;" for="inputEmail4" class=" control-label">поиск по стажу работы</label>

        <input type="text" (input)="TextSearch=$event.target.value; Page = 1; search()" class="form-control" id="inputEmail4" placeholder="Стаж">
    </div>
  </div>
 <br><br><br>
    <div class="row">
        <div *ngFor="let item of Employees; let i = index" class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" [src]="item.image" (error)="item.image = EmptyImage" />
                    <a [routerLink]="['/human',item.id]"  class="followed-user-name">{{item.last_name}} {{item.first_name}} {{item.second_name}}</a>
                    <p class="followed-user-screenname">
                        {{item.position}}
                    </p>
                    <p *ngIf="item.experience" class="followed-user-description">Стаж: <strong>{{item.experience}}лет.</strong></p>

                </div>
            </div>
            <br>
        </div>
        <!-- <div class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="http://placekitten.com/g/300/300" />
                    <a [routerLink]="['/human',1]"  class="followed-user-name">Иванов Иван Иванович</a>
                    <p class="followed-user-screenname">
                        Супер программист
                    </p>
                    <p class="followed-user-description">Стаж: <strong>18лет.</strong></p>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="http://placekitten.com/g/300/300" />
                    <a [routerLink]="['/human',1]"  class="followed-user-name">Иванов Иван Иванович</a>
                    <p class="followed-user-screenname">
                        Супер программист
                    </p>
                    <p class="followed-user-description">Стаж: <strong>18лет.</strong></p>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="http://placekitten.com/g/300/300" />
                    <a [routerLink]="['/human',1]"  class="followed-user-name">Иванов Иван Иванович</a>
                    <p class="followed-user-screenname">
                        Супер программист
                    </p>
                    <p class="followed-user-description">Стаж: <strong>18лет.</strong></p>
                </div>
            </div>
            <br>
        </div>
        <div class="col-md-3">
            <br>
            <div class="followed-user-entry">
                <div class="followed-user-bottom">
                    <img  class="followed-user-img" src="http://placekitten.com/g/300/300" />
                    <a [routerLink]="['/human',1]"  class="followed-user-name">Иванов Иван Иванович</a>
                    <p class="followed-user-screenname">
                        Супер программист
                    </p>
                    <p class="followed-user-description">Стаж: <strong>18лет.</strong></p>
                </div>
            </div>
            <br>
        </div> -->
    </div>


    <br>
    <app-pagination [allElements]="AllCount" [selectedNumber]="Page" (onChangeSelected)="Page = $event; search();"></app-pagination>
</div>
