<div class="container">
<div class="row">
<div class="col-md-12">
  <h2>Login</h2>
  <form>
    <div class="form-group">
      <label for="code">Login:</label>
      <input type="email" [(ngModel)]="user.email" class="form-control" id="code" placeholder="Enter code" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" [(ngModel)]="user.password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <button (click)="Login()" type="button" style="margin-right: 15px;" class="btn btn-success">Войти</button>
    <button [routerLink]="['/auth','register']" type="button" class="btn btn-info">Регистрация</button>

    <!-- <button (click)="setToken()" type="button" class="btn btn-info">Войти без пароля FOR DEV</button> -->
  </form>
  </div>
  </div>
</div>
