<div class="container">
  <div class="row">
  <div class="col-md-12">
    <h2>Восстановление пароля</h2>
    <form>
      <div class="form-group">
        <label for="code">Email:</label>
        <input type="email" [(ngModel)]="user.email" class="form-control" id="code" placeholder="Введите email" name="email">
      </div>
      <p *ngIf="ifSended">Пароль выслан на почту</p>
      <button (click)="sendNewPass()" type="button" style="margin-right: 15px;" class="btn btn-success">Выслать код</button>
      <button [routerLink]="['/auth','login']" type="button" class="btn btn-info">Вход</button>
      
      
    </form>
    
    </div>
    </div>
  </div>
  