<div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="row">
              <h1>{{Vacancie.position}}</h1>

          </div>
          <div>
            <div *ngIf="IsAdmin" class="flex-b-admin">
              <button *ngIf="Vacancie.status != 'approved'" (click)="approve()" type="button" class="btn btn-success">Опубликовать</button>
              <button (click)="delete()" type="button" class="btn btn-danger">Удалить</button>
            </div>

            <div class="my-table">
              <div class="my-row">
                <div class="bordered">
                  <strong>Компания:</strong>
                </div>
                <div class="bordered">
                    <p>{{Vacancie.company_name?Vacancie.company_name:'-'}}</p>
                </div>
              </div>
              <div class="my-row">
                <div class="bordered">
                  <strong>Опыт работы:</strong>
                </div>
                <div class="bordered">

                    <p>{{Vacancie.min_experience?Vacancie.min_experience:'-'}}</p>

                </div>
              </div>
              <div class="my-row">
                <div class="bordered">

                  <strong>З/п:</strong>

                </div>
                <div class="bordered">

                    <p>{{Vacancie.salary?Vacancie.salary:'-'}}</p>

                </div>
              </div>
              <div class="my-row">
                <div class="bordered">

                  <strong>Адрес:</strong>

                </div>
                <div class="bordered">

                    <p>{{Vacancie.address?Vacancie.address:'-'}}</p>

                </div>
              </div>
              <div class="my-row">
                <div class="bordered">

                  <strong>Требования к соискателю:</strong>

                </div>
                <div class="bordered">

                    <p>{{Vacancie.description?Vacancie.description:'-'}}</p>

                </div>
              </div>



            </div>
            <!--если ты человек-->
            <p *ngIf="reqSended" style="color:green; text-align:center;">Заявка отправлена</p>
            <button *ngIf="MyType==='employee'" (click)="VacancyResponse()" class="btn btn-success btn-lg btn-block" style="margin: 30px auto; max-width: 150px;">Откликнуться</button>




          </div>
        </div>
      </div>
    </div>
