
  <span class="login100-form-title p-b-34 p-t-27">
    Регистрация
  </span>
  <form *ngIf="CurrentStep===Steps.email">
    <div class="wrap-input100 validate-input">
      <input class="input100" type="email" [(ngModel)]="Email" id="email" placeholder="Введите email" name="email" autocomplete="off">
      <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>
    <div class="container-login100-form-btn">
        <button (click)="CreateUserByEmail()" type="button" class="login100-form-btn">
            Отправить код
        </button>
    </div>
   



  </form>


  <form *ngIf="CurrentStep===Steps.code">
      <div class="wrap-input100 validate-input">
        <input class="input100" type="text" [(ngModel)]="Code" id="code" placeholder="Введите код" name="code" autocomplete="off">
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
      </div>
      <div class="container-login100-form-btn">
          <button (click)="VerifyCode()" type="submit" class="login100-form-btn">
              Продолжить
          </button>
      </div>
  </form>

  <form *ngIf="CurrentStep===Steps.password">
      <div class="wrap-input100 validate-input">
          <input class="input100" [(ngModel)]="Password.password" type="password" id="pwd" placeholder="Введите пароль" name="pwd"autocomplete="off">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
      </div>
      <div class="wrap-input100 validate-input">
          <input class="input100" [(ngModel)]="Password.password_confirmation" type="password" id="pwd-confirm" placeholder="Введите пароль ещё раз" name="pwd-confirm" autocomplete="off">
          <span class="focus-input100" data-placeholder="&#xf191;"></span>
      </div>
      <div class="radio-wrapp">
        <div class="radio-my">
          <label><input type="radio" [(ngModel)]="Type" value="employee" name="optradio">Регистрируюсь как сотрудник</label>
        </div>
        <div class="radio-my">
          <label><input type="radio" [(ngModel)]="Type" value="company" name="optradio">Регистрируюсь как компания</label>
        </div>
      </div>
      <div class="container-login100-form-btn">
          <button (click)="AddPassword()" type="submit" class="login100-form-btn">
              Зарегистрироваться
          </button>
      </div>
  </form>
  <div class="text-center p-t-90">
  
      <a class="txt1 link-lost-pass" [routerLink]="['/auth','login']">Вернуться на форму входа</a>

  </div>


